<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.snow.emsp.accts.persistence.mapper.CardMapper">
    <insert id="insert" parameterType="cn.snow.emsp.accts.persistence.model.DbCard"
            useGeneratedKeys="true" keyProperty="card.id">
        INSERT INTO t_card (
        rfid_uid,
        rfid_visible_number,
        contract_id,
        account_id,
        account_email,
        status,
        create_at,
        last_updated)
        VALUES (#{card.rfidUid}, #{card.rfidVisibleNumber}, #{card.contractId}, #{card.accountId}, #{card.accountEmail},
        #{card.status}, #{card.createAt},
        #{card.lastUpdated})
    </insert>
    <update id="updateCard">
        update t_card
        set status = #{card.status},
        vers = vers + 1,
        <if test="card.accountId != null">
            account_id = #{card.accountId},
        </if>
        <if test="card.contractId != null">
            contract_id = #{card.contractId},
        </if>
        <if test="card.accountEmail != null">
            account_email = #{card.accountEmail},
        </if>
        last_updated = #{card.lastUpdated}
        where id = #{card.id} and vers = #{oldVersion}
    </update>
    <select id="selectByCardId" resultType="cn.snow.emsp.accts.persistence.model.DbCard">
        select id, rfid_uid as rfidUid, rfid_visible_number as rfidVisibleNumber, contract_id as contractId, account_id as accountId, account_email as accountEmail, status, create_at as createAt, last_updated as lastUpdated, vers
        from t_card
        where id = #{cardId} limit 1
    </select>
    <select id="selectByAccountId" resultType="cn.snow.emsp.accts.persistence.model.DbCard">
        select id, rfid_uid as rfidUid, rfid_visible_number as rfidVisibleNumber, contract_id as contractId, account_id as accountId, account_email as accountEmail, status, create_at as createAt, last_updated as lastUpdated, vers
        from t_card
        where account_id = #{accountId}
    </select>
    <select id="selectByRfidVisibleNumber" resultType="cn.snow.emsp.accts.persistence.model.DbCard">
        select id, rfid_uid as rfidUid, rfid_visible_number as rfidVisibleNumber, contract_id as contractId, account_id as accountId, account_email as accountEmail, status, create_at as createAt, last_updated as lastUpdated, vers
        from t_card
        where rfid_visible_number = #{rfidVisibleNumber} limit 1
    </select>
</mapper>